<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-building"></span>
        <span class="sidebar-title">{{ 'Werkloosheid'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumuwv/werkloosheid/werkloosheidswet/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Werkloosheidswet'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumuwv/werkloosheid/iow/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Wet inkomensvoorziening oudere werklozen'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumuwv/werkloosheid/bijstand/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Bijstandswet'|translate }}
            </a>
        </li>
    </ul>
</li>