<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-wheelchair"></span>
        <span class="sidebar-title">{{ 'Arbeidsongeschiktheid'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumuwv/arbeidsongeschiktheid/wao/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Wet arbeidsongeschiktheid'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumuwv/arbeidsongeschiktheid/wia/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Wia'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumuwv/arbeidsongeschiktheid/wamil/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Wamil'|translate }}
            </a>
        </li>
    </ul>
</li>